:root {
    --primary-color: grey;
    --secondary-color: lightgrey;
    --tertiary-color: black;
    --title-text: 55px; 
    --large-text: 48px;
    --small-text: 18px;
    --tiny-text: 12px;
    --border-size: 5px;
}


/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    font-size: var(--small-text);
}

ul{
    list-style: none;
}

p {
    font-size: var(--small-text);
}

/* UTILITIES */
.clickable a {
    border-bottom: var(--border-size) solid var(--secondary-color);
}

/* Sectional Style */
section {
    display: flex;
    margin: 50px auto;
}

.section-title {
    margin: 30px;
    width: 200px;
    text-align: right;
    font-size: var(--large-text);
    flex: 1 25%;
}

.article {
    padding: 20px 60px 20px 20px;
    border-left: 5px solid var(--tertiary-color);
    flex: 2 75%;
}

/* Header Style */
header {
    padding: 20px 0px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    top: 0;
}

header a {
    color: var(--secondary-color);
    margin: 0px 10px;
}

.name {
    padding: 10px 20px 10px 30px;
    margin: 10px 10px 10px 0px;
    background-color: var(--tertiary-color);
    font-size: var(--title-text);
    border-radius: 0px 20px 20px 0px;
}

header nav {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header nav ul li {
    display: inline;
    justify-content: flex-end;
}

/* Hero Style */
.hero {
    background-image: url(https://via.placeholder.com/500);
    display: flex;
    background-size: cover;
    justify-content: center;
}

.hero-info {
    width: 80%;
    padding: 5%;    
    text-align: center;
    color: var(--tertiary-color);
}

.hero-info img {
    border: 5px solid var(--tertiary-color);
    border-radius: 50%;
    width: 30%;
}

.hero-title {
    font-size: var(--title-text);
}

/* Work Section Style */
.work-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

.work-images a {
    padding: 0px;
}

.work-images h2 {
    font-size: var(--small-text);
}

.work-images p {
    margin: 5px auto;
    font-size: var(--tiny-text);
}

.work-image {
    width: 42%;
    margin: 20px 20px 0px 20px;
}

.work-image div {
    padding: 10px 10px 10px 20px;
    width: max-content;
    max-width: 75%;
    background-color: var(--tertiary-color);
    position: relative;
    bottom: 25%;
    border-radius: 0px 10px 10px 0px;
}


.work-image img {
    width: 100%;
    border: 5px solid var(--tertiary-color);
    border-radius: 20px;
}

/* Contact Me */
.contact-me ul {
    display: flex;
    justify-content: space-around;
}

.contact-me li {
    margin: 50px;
}

/* Pseudo-Classes Start */
.clickable a:hover {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    border-radius: 10px;
    border: none;
}

.work-image img:hover {
    border-color: var(--primary-color);
}

.work-image:first-child {
    width: 98%
}

/* Media Queries */
@media screen and (max-width: 980px) {
  
    :root {
        --small-text: 24px;
    }

    .hero-info {
        width: 90%;
        padding: 2.5%;
    }

    .work-image {
        width: 80%;
        margin: 0px;
    }

    .contact-me ul {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .contact-me li {
        margin: 30px;
        text-align: center;
    }

}

@media screen and (max-width: 768px) {

    :root {
        --title-text: 50px;
    }

    header {
        padding: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .name {
        padding: 10px 20px;
        margin: 10px;
        border-radius: 20px;
    }

    header nav {
        margin: 20px;
    }

    section {
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
    }

    .section-title {
        margin: 20px;
        width: 100%;
        text-align: center;
        flex: 0;
    }

    .article {
        flex-direction: column;
        padding: 20px;
        border-top: 5px solid var(--tertiary-color);
        width: 80%;
        border-left: 0;
        flex: 0;
    }
}


@media screen and (max-width: 575px) {

    :root {
        --large-text: 40px;
        --small-text: 22px;
        --title-text: 48px;
    }

    .work-image {
        width: 85%;
    }

    .work-image div {
        bottom: 40%;
    }

    .contact-me li {
        margin: 15px;
    }

}